[Unit]
Description=TELNET protocol daemon

[Service]
Environment=TERM=linux
EnvironmentFile=/run/telnetd.env
ExecStart=/opt/vyatta/sbin/mini-inetd $TELNETD_PORT -- /usr/sbin/telnetd telnetd

[Install]
WantedBy=multi-user.target
