[Unit]
Description=TELNET protocol daemon for routing-domain %i

[Service]
Environment=TERM=linux
SyslogIdentifier=telnetd-%i
EnvironmentFile=/run/telnetd/vrf/%i/telnetd.env
ExecStart=/usr/sbin/chvrf %i /opt/vyatta/sbin/mini-inetd $TELNETD_PORT -- /usr/sbin/telnetd telnetd

[Install]
WantedBy=multi-user.target
